<div class="page-shell">
  <mat-toolbar color="primary">
    <span>Carga de candidatos</span>
  </mat-toolbar>

  <main class="page-content">
    <section class="hero">
      <header>
        <h1>Panel de carga de candidatos</h1>
        <p>
          Punto de partida para el formulario y la tabla que enviarán datos al
          backend NestJS.
        </p>
      </header>
      <app-candidate-form></app-candidate-form>
      <app-candidates-table></app-candidates-table>
    </section>
  </main>

  <footer class="page-footer">
    <span>Prueba técnica Ditech. Carga de candidatos</span>
  </footer>
</div>
