.table-wrapper {
  width: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

mat-table {
  width: 100%;
}

.empty {
  margin: 2rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
